site_name: "IBM Washington Systems Center"
nav:
  - Overview: index.md
  - AIOps: aiops.md
  - Analytics: analytics.md
  - Capacity and Performance: capacityperf.md
  - Hyper Protect: hyperprotect.md
  - Instana: instana.md
  - IBM z/OS Modernization: zosmodernization.md
  - IBM WSC Education:
    - IBM Z Explore: education/zxplore.md
    - Mainframe Skills Depot: education/msd.md
  - LinuxONE: linuxONE.md
  - Parallel Sysplex Health Check: healthcheck.md
  - Performance: performance.md
  - RedHat Ansible: rhansible.md
  - RedHat OpenShift: rhopenshift.md
  - Watson Code Assistant: wca4z.md
  - Wildfire Workshops: workshops.md
  - z/OS Subsystems: 
    - IBM CICS: zossoftware/ibmcics.md
    - IBM Db2: zossoftware/ibmdb2.md
    - IBM IMS: zossoftware/ibmims.md
    - IBM MQ: zossoftware/ibmmq.md
    - IBM z/OS: zossoftware/ibmzos.md
    - IBM z/OS Communications Server: zossoftware/ibmcommserver.md
    - IBM z/OS Connect: zossoftware/ibmzosconnect.md

# Project Information
site_url: 'https://github.com/ibm-wsc/'
site_description: IBM Washington Systems Center
site_author: IBM Z WSC

# Repository Information
repo_url: 'https://github.com/ibm-wsc/'
docs_dir: 'docs'
site_dir: 'site'
remote_branch: 'gh-pages'
remote_name: 'origin'
theme:
  logo: assets/ibm_logo.png
  favicon: assets/ibm_logo.png
  name: material
  font:
    text: IBM Plex Sans
    code: IBM Plex Mono
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      accent: custom
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      accent: custom
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
features:
- content.tabs.link
markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - attr_list
  - md_in_html

  # Python Markdown Extensions
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra_css:
  - "stylesheets/extra.css"

copyright: |
  &copy; 2025 IBM